body{
    margin:0;
    padding: 0;
    background-color: silver;
}

#day, #month, #year{
    color: rebeccapurple;
    display: flex;
    justify-content: center;
    padding-top: 1%;
}

.description1{
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    margin: 0 5% 0 5%;
    padding: 2%;
    box-shadow: -3px -5px  pink ;
    border-radius: 5px;
}

#description1, p{
    padding: 2%;
    font-size: 18px;
}

#picture2{
    width: 60vw;
    height: 70vh;
    background-color: cadetblue;
}

#pictures{
    display: flex;
    justify-content: center;
}

#month{
    padding-right:16px; 
}

input:hover{
    background-color: paleturquoise;
}

input:focus{
    box-shadow: 0px 0px 5px forestgreen;
    outline: none;
    border-radius: 10px;
}

#output{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
    text-shadow: 2px -1px forestgreen;
}
h2:hover{
    color:lightcoral;
    cursor:progress;
}

h3{
    padding-left: 15%;
    align-items: center;
    margin: 1% 10% 0 20%;
    color:lightseagreen;
}

#submit{
    margin: 2% 0 0 40%;
    background-color: lawngreen;
    color: white;
    box-shadow: 1px 3px peru;
    width: 8vw;
}

#styled-form{
    background-color: sienna;
    margin: 0 30% 5% 30%;
    border-radius: 20px;
    padding-right: 15%;
}

.fieldName{
    color:cornflowerblue;
}

.monthField{
    width: 22vw;
}
